<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Arnold&apos;s Puzzle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/i/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/i/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/i/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- build:remove -->
    <link rel="stylesheet" href="style.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" href="style.css?<%= hash %>">
    /build -->
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
</head>
<body>
<canvas id="canvas"></canvas>
<div id="head">
    <h1>Arnold&apos;s Puzzle
        <button class="small" id="help">?</button>
    </h1>
    <div class="lines-control">
        Lines:
        <button class="small" id="minus">−</button>
        <span id="line-num"></span>
        <button class="small" id="plus">+</button>
    </div>
    <div class="goal">Score: <span class="score-goal"><span id="score" title="Dark regions number"></span>/<span id="goal" title="Upper estimate"></span></span></div>
</div>
<div id="win">
    <div class="win-info">
        You win!<br>
        <button id="win-next-level">Go to <span id="win-next-lines-num"></span> lines</button>
        <button id="win-ok">Keep playing</button>
    </div>
</div>
<div id="about">
    <h2>Rules</h2>

    <ol>
        <li>There are several lines on&nbsp;the&nbsp;plane and each pair of&nbsp;lines intersects at one point.</li>
        <li>The lines divide the plane into regions. You can flip over a triangular region by clicking on it.</li>
        <li>The goal is to get as many dark regions as possible.</li>
    </ol>

    <p>Your score is the number of dark regions. For the selected number of lines, a theoretical upper estimate is shown next to the score.</p>

    <h2>Mathematical basis</h2>

    <p>
        This puzzle is named after Russian mathematician <a href="https://en.wikipedia.org/wiki/Vladimir_Arnold">Vladimir Arnold</a>.
        It is inspired by one of the open mathematical problems published in his book
        “<cite title="Problem #1983-4. Vladimir I. Arnold, ed. (15 November 2004). Arnold's Problems (2nd ed.). Springer-Verlag.">Arnold&apos;s problems</cite>”:
    </p>
    <blockquote>
        Let N lines be given in the real plane, and their complement be chess-like painted black and white. What is the
        greatest difference between the number of black and white regions?
    </blockquote>
    <p>
        This problem is equivalent to the goal of the puzzle: maximizing the difference between the number of black and
        white regions is almost the same as maximizing the number of black regions.
    </p>
    <p>
        There are another closely related open mathematical problem&ndash;<a href="https://en.wikipedia.org/wiki/Kobon_triangle_problem">Kobon triangles problem</a>.
    </p>

    <h2>About author</h2>
    <p>
        I am a graduate of MIPT. My colleagues and I spent a lot of time trying to solve Arnold&apos;s problem.
        The result of our research is in the <a href="https://written.ru/download/arnold.pdf">report (pdf, in Russian)</a>.
    </p>

    <p>
        The source code of this puzzle is published on <a href="https://github.com/parpalak/arnold-puzzle">Github</a>.
    </p>
</div>
<div id="bottom">
    <div id="info">
        <span id="copyright-sign">© 2020</span>
        <a class="link" id="mailto-link" title="Drop me a line" href="mailto:roman%40written.ru">Roman Parpalak</a>
    </div>
    <div id="instruction">Click triangles to flip. Get the maximum number of dark regions.</div>
</div>
<!-- build:remove -->
<script src="utils.js"></script>
<script src="point.js"></script>
<script src="line.js"></script>
<script src="field.js"></script>
<script src="polygon.js"></script>
<script src="renderer.js"></script>
<script src="ongoing-touches.js"></script>
<script src="controller.js"></script>
<!-- /build -->

<!-- build:template
<script src="bundle.min.js?<%= hash %>"></script>
/build -->
</body>
</html>
