* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body, button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
}
body {
    background: #008B8B;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #9df5f5;
}

button:focus,
a:focus {
    box-shadow: 0 0 3px 1px #9df5f5;
    outline: none;
}

.digit {
    text-align: center;
    width: 0.55em;
    display: inline-block;
}

::-moz-selection {
    background: #00b8e7;
    color: #d0ffff
}
::selection {
    background: #00b8e7;
    color: #d0ffff
}

button {
    background: transparent;
    color: #9df5f5;
    border: 1px solid #9df5f5;
    border-width: 2px 0;
    position: relative;
    pointer-events: auto;
    }
button.small {
    border: none;
    font-size: 16px;
    vertical-align: 5px;
    line-height: 1;
    margin: 0 2px;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url("data:image/svg+xml,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4 v14 l3 3 h14 l3 -3 v-14 l-3 -3 h-14 l-3 3 Z' fill='transparent' stroke='rgb(157, 245, 245)' stroke-width='2' /%3E%3C/svg%3E");
    }
    button#fullscreen {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath d='M1 14 v4 l3 3 h4 m6 0 h4 l3 -3 v-4 m0 -6 v-4 l-3 -3 h-4 m-6 0 h-4 l-3 3 v4' fill='transparent' stroke='rgb(157, 245, 245)' stroke-width='2'/%3E%3C/svg%3E");
        margin: 0;
        vertical-align: 2px;
        }
    button:hover {
        cursor: pointer;
        }
    button:focus {
        border-radius: 6px;
        }
    button:before,
    button:after {
        content: '';
        border: 2px solid transparent;
        width: 0;
        height: 100%;
        position: absolute;
        top: -2px;
        }
    button:before {
        border-right-color: #9df5f5;
        left: -4px;
        }
    button:after {
        border-left-color: #9df5f5;
        right: -4px;
        }
    button.small:before {
        content: none;
        border: none;
        }
    button.small:after {
        border: none;
        width: 22px;
        height: 22px;
        top: 0;
        left: 0;
        }
    button#plus.small:after {
        background: url("data:image/svg+xml,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11 h10 M11 6 v10' stroke='rgb(157, 245, 245)' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
        }
    button#minus.small:after {
        background: url("data:image/svg+xml,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11 h10' stroke='rgb(157, 245, 245)' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
        }

#head,
#bottom {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10px;
    pointer-events: none;
    user-select: none;
    }
#head {
    flex-wrap: wrap;
    position: relative;
    line-height: 1.5;
    }
    h1 {
        margin: 0;
        font-size: 30px;
        letter-spacing: 1px;
        transition: font-size 0.2s, line-height 0.2s;
        }
    .score-goal {
        pointer-events: auto;
        }
    .lines-control, .goal {
        opacity: 1;
        font-size: 30px;
        transition: opacity 0.2s, font-size 0.2s, line-height 0.2s;
        }

h2 {
    margin: 0.125em 0;
    font-size: 24px;
    letter-spacing: 1px;
}
ol, p, blockquote {
    margin-top: 0;
    margin-bottom: 0.75em;
}
li {
    margin: 0 0 0.5em;
}
#about {
    z-index: 2;
    position: fixed;
    pointer-events: auto;
    top: 0;
    left: 0;
    height: 0;
    right: 0;
    overflow: auto;
    transition: height 0.2s, border-bottom-width 0.2s, border-top-width 0.2s;
    border: 0 solid transparent;
    padding: 0 10px;
    background: rgba(0, 26, 59, 0.7);
    background: linear-gradient(to top, rgb(0, 26, 59) 0%, rgba(0, 26, 59, 0.66) 100%) center;
    background-origin: border-box;
    scrollbar-width: thin;
    overflow-y: scroll;
    }
    .about-wrapper .column {
        max-width: 50em;
        }
    .shown-help #about {
        height: 100%;
        border-top-width: 42px;
        border-bottom-width: 40px;
        }

#instruction {
    opacity: 1;
    transition: opacity 0.2s;
    float: right;
    }
#fullscreen-wrapper {
    align-self: start;
    text-align: right;
    }

.shown-help .lines-control,
.shown-help #instruction,
.shown-help .goal {
    opacity: 0;
    }
#bottom {
    position: absolute;
    flex-wrap: wrap-reverse;
    left: 0;
    bottom: 8px;
    right: 0;
    }
#info {
    pointer-events: auto;
    float: left;
    }
    .parameter {
        width: 100px;
        display: inline-block;
        white-space: nowrap;
        }
#win {
    background: rgba(255, 255, 0, 0.3);
    background: linear-gradient(to top, rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.5));
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #9df5f5;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.4s;
    font-size: 100px;
    text-shadow: yellow 0 0 20px, yellow 0 0 45px;
    text-align: center;
    line-height: 1;
    user-select: none;
    }
    #win.enabled {
        opacity: 1;
        }
    .win-info {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        }
    #win button {
        line-height: 1;
        font-size: 50px;
        padding: 7px 13px;
        }
a {
    color: #9df5f5 !important;
    text-decoration: none;
    border-bottom: 1px solid rgba(157, 245, 245, 0.45);
}
cite {
    font-style: normal;
    border-bottom: 1px dotted rgba(157, 245, 245, 0.45);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

body {
    scrollbar-color: rgba(157, 245, 245, 0.4) rgba(157, 245, 245, 0.1);
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(157, 245, 245, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(157, 245, 245, 0.4);
}
::-webkit-scrollbar-corner {
    background: rgba(157, 245, 245, 0.1);
}

@media all and (min-width: 720px) {
    #line-num {
        min-width: 1.1em;
        display: inline-block;
        text-align: center;
    }
    .score-goal {
        min-width: 3.85em;
        display: inline-block;
        text-align: right;
    }
}

@media all and (min-width: 1000px) {
    #instruction {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
}

@media all and (min-width: 720px) and (min-height: 400px) {
    .about-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 2.5em;
    }
    .about-wrapper .column {
        flex: 1 1 30%;
    }
}

@media all and (min-width: 720px) and (max-width: 1199px) and (min-height: 400px) {
    .about-wrapper {
        display: grid;
        gap: 0 2.5em;
    }

    .column:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
    }

    .column:nth-child(2) {
        grid-area: 1 / 2;
    }

    .column:nth-child(3) {
        grid-area: 2 / 2;
    }
}

@media all and (max-width: 499px) {
    #head {
        display: block;
    }
    .lines-control button.small {
        vertical-align: 4px;
    }

    .lines-control, .goal {
        font-size: 24px;
    }
}
